#canvas {
  background-color: aquamarine;
  width: 100%;
  height: 500px;
}

.ushi {
  /* animation  */
  animation-name: slide1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-delay: -2s; */
}

@keyframes slide1 {
  0% {
    position: absolute;
    top: 200px;
    left: 50px;
  }
  50% {
    position: absolute;
    top: 100px;
    left: 50px;
  }

  100% {
    position: absolute;
    top: 200px;
    left: 200px;
  }
}
